body {
	color: black;
	background-image: url(gradient.png);
	background-repeat: repeat-x;
	background-color: #F9FBD1;
	font-family: verdana, sans-serif;
}

p {
	padding: 10px 0 0 10px;
	margin: 0 0 0 0;
}

h1 {
	color: rgb(122, 22, 22);
}

h2 {
	color: rgb(150, 22, 22);
}

th {
	text-align: right;
}

em {
	font-style: italic;
}

.infoR {
	float: right;
	margin: 0 0 10px 10px;
	padding: 0 10px 10px 10px;
	background-color: rgb(255, 255, 230);
	border: 1px solid black;
	font-size: small; 
}

.infoL {
	float: left;
	margin: 0 10px 10px 0px;
	padding: 0 10px 10px 10px;
	background-color: rgb(255, 255, 230);
	border: 1px solid black;
	font-size: small; 
}

ul {
        padding-left: 0;
        margin-left: 15px;
}

a {
	color: rgb(200, 20, 20);
}

.colheader {
	text-align: right;
	font-weight: bold;
	white-space: nowrap;
}
